<h1> Enter bookmark to add below </h1>
<form action='/add' method='post'>
  <label for='url'>
    Bookmark URL
    <input type='text' name='url'>
  </label>
  <label for='title'>
    Bookmark title
    <input type='text' name='title'>
  </label>
  <input type='submit' value='Submit'>
</form>