<h1> Enter bookmark to add below </h1>
<form action='/add' method='post'>
  <label for='add_bookmark'>
    Bookmark URL
    <input type='text' name='add_bookmark'>
  </label>
  <input type='submit' value='Submit'>
</form>